/* nabvar start here */

.banner-img {
    width: 90%;
    height: 80%;
}


/* main part start here */


/* section 1 start here */

.card-shadow {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}


/* section 2 start here */

.match-img {
    width: 100%;
    height: 70%;
}


/* footer starts here */

.log-size {
    width: 400px;
    height: 100px
}

.fab {
    font-size: 2em;
    padding: 10px;
}